<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICS Student Council | Experience</title>
  <meta name="color-scheme" content="dark">
  <link rel="stylesheet" href="../projects/project.scss">
  {{> site_icons }}
</head>
<body>
  {{> topnav }}
  <section class="gradient page-header">
    <div class="heading-container">
      <h1>Project Lead at ICS Student Council</h1>
      <p>Redesigning and leading the development of a 4-year course planner and discovery application</p>
    </div>
    <br>
    <div class="center">
      <img src="/src/images/experience/icssc.png" alt="ICS Student Council at UCI" width="800">
    </div>
  </section>
  <section>
    <div class="content-wrapper">
      <h1>Teamwork at the Core</h1>
      <p>ICSSC&rsquo;s Project Committee aims to create useful applications for students and provide them with opportunities to improve professionally,
        socially, and academically. I work on PeterPortal, and our team meets every week to discuss sprint updates, ideate new features, and check in
        with one another. Being a part of this team helped me not only contribute to a meaningful project but also work with others to find how we can
        best apply our strengths to work most efficiently.</p>
      <div class="center">
        <img src="/src/images/experience/icssc-s1.png" alt="Landing page with course search and information" width="640">
        <p class="caption">PeterPortal&rsquo;s Course Discovery Interface</p>
      </div>
    </div>
    <div class="content-wrapper">
      <h1>My Contributions</h1>
      <p>Over the course of 6 months, I was able to give code and design feedback to others as well as introduce new features to PeterPortal. I started
        in the winter of 2024 with smaller tasks (such as bug fixes and adding Captchas) to familiarize myself with the project&rsquo;s stack, but soon
        after that I merged a PR to let users <a href="https://github.com/icssc/peterportal-client/pull/455" target="_blank">import data from their
        transcript</a> into their current 4-year plan.</p>
      <p>Additionally, I built upon the work of previous contributors and finished a previously stale (over a year old) PR that lets users create multiple
        4-year plans. It required familiarizing myself with code that others had written, understanding how it interacts with the app&rsquo;s data layer, and
        applying fixes and updates to the UI to make it consistent and easy to use.</p>
      <div class="showcase-item"><p class="links">
        <a href="https://github.com/icssc/peterportal-client/pull/287" target="_blank">Previous Multi-Planner PR</a>
        <a href="https://github.com/icssc/peterportal-client/pull/472" target="_blank">Revised Multi-Planner PR</a>
      </p></div>
      <div class="center">
        <img src="/src/images/experience/icssc-s2.png" alt="PeterPortal's 4-year planner feature" width="640">
      </div>
      <div class="center">
        <a href="https://github.com/icssc/peterportal-client" class="button orange-cta" target="_blank">View Source Code</a>
      </div>
    </div>
    <div class="content-wrapper">
      <h1>Taking Further Initiative</h1>
      <p>Like other projects I&rsquo;ve worked on, I wanted to make PeterPortal easier to use and improve the consistency in its design. I started a
        <a href="https://www.figma.com/proto/DW4qrfAHzY7KfZwNQgtjlZ/PPC-Master-Design?show-proto-sidebar=1" target="_blank">Figma Design</a> and
        worked on creating a UI that&rsquo;s both visually pleasing and functional. I started by making the navigation elements more consistent with
        one another, then continued onto redesigning the 4-year planner (the “Roadmap” page, see screenshot above), some of which is yet to be fully
        implemented.</p>
      <p>Because of my involvement in the project, I was promoted to project lead for the 2024-2025 school year, and I will continue to organize
        the code base, designs, and tasks because individual contributors, both inside and outside of the Project Team, are the reason that we can
        maintain a quality project that students use year after year.</p>
      <div class="center mt-64 hug-wave">
        <a class="button orange-cta" href="https://peterportal.org/" target="_blank">Visit PeterPortal</a>
      </div>
    </div>
  </section>
  {{> footer }}
</body>
</html>