<footer>
  <img src="/src/images/footer-wave.svg" alt="Footer Wave" width="100%">
  <div class="footer-flex">
    <div class="column">
      <img src="/src/images/e-circle-gray.png" alt="E Logo" width="48" height="48">
    </div>
    <div class="column">
      <h3>Projects</h3>
      <ul>
        <li><a href="/src/projects/hackeval.hbs">HackEval</a></li>
        <li><a href="/src/projects/hopscotch-web-editor.hbs">Hopscotch Web Editor</a></li>
        <li><a href="/src/projects/treasurehacks-organization-site.hbs">Treasure Hacks Website</a></li>
        <li><a href="/src/projects/usde-college-search.hbs">USDE College Search</a></li>
        <li><a href="/projects/">See more...</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Experience</h3>
      <ul>
        <li><a href="/src/experience/hopscotch.hbs">Lead Developer at Hopscotch</a></li>
        <li><a href="/src/experience/ics-student-council.hbs">Team Lead at ICS Student Council</a></li>
        <li><a href="/src/experience/treasure-hacks.hbs">Cofounder &amp; CTO at Treasure Hacks</a></li>
        <li><a href="/src/experience/gamechanger.hbs">Cofounder of GameChanger</a></li>
        <li><a href="/experience/" rel="canonical">See more...</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Connect</h3>
      <ul>
        <li><span>Email: <a href="mailto:ethan@awesome-e.dev">ethan@awesome-e.dev</a></span></li>
        <li><span>LinkedIn: <a href="https://www.linkedin.com/in/ethanw2004" target="_blank">/in/ethanw2004</a></span></li>
        <li><span>GitHub: <a href="https://github.com/Awesome-E" target="_blank">@Awesome-E</a></span></li>
      </ul>
    </div>
  </div>
</footer>
<script type="module" src="/src/main.js"></script>
