<input type="radio" name="langinput" id="langinput-react" value="react" hidden checked>
<input type="radio" name="langinput" id="langinput-typescript" value="typescript" hidden>
<input type="radio" name="langinput" id="langinput-sass" value="sass" hidden>
<input type="radio" name="langinput" id="langinput-git" value="git" hidden>
<input type="radio" name="langinput" id="langinput-postgresql" value="postgresql" hidden>
<input type="radio" name="langinput" id="langinput-node" value="node" hidden>
<input type="radio" name="langinput" id="langinput-python" value="python" hidden>
<input type="radio" name="langinput" id="langinput-js" value="js" hidden>
<input type="radio" name="langinput" id="langinput-tailwind" value="tailwind" hidden>
<input type="radio" name="langinput" id="langinput-jest" value="jest" hidden>
<input type="radio" name="langinput" id="langinput-mongodb" value="mongodb" hidden>
<input type="radio" name="langinput" id="langinput-sklearn" value="sklearn" hidden>
<div class="language-grid">
  <label for="langinput-react">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/react.svg" alt="React Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/react-color.svg" alt="React Logo">
  </label>
  <label for="langinput-python">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/python.svg" alt="Python Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/python-color.svg" alt="Python Logo">
  </label>

  <label for="langinput-typescript">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/typescript.svg" alt="Typescript Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/typescript-color.svg" alt="Typescript Logo">
  </label>
  <label for="langinput-js">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/js.svg" alt="JS Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/js-color.svg" alt="JS Logo">
  </label>

  <label for="langinput-sass">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/sass.svg" alt="Sass Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/sass-color.svg" alt="Sass Logo">
  </label>
  <label for="langinput-tailwind">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/tailwind.svg" alt="Tailwind Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/tailwind-color.svg" alt="Tailwind Logo">
  </label>

  <label for="langinput-git">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/git.svg" alt="Git Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/git-color.svg" alt="Git Logo">
  </label>
  <label for="langinput-jest">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/jest.svg" alt="Jest Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/jest-color.svg" alt="Jest Logo">
  </label>
  <label for="langinput-postgresql">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/postgresql.svg" alt="PostgreSQL Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/postgresql-color.svg" alt="PostgreSQL Logo">
  </label>
  <label for="langinput-mongodb">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/mongodb.svg" alt="MongoDB Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/mongodb-color.svg" alt="MongoDB Logo">
  </label>
  <label for="langinput-node">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/node.svg" alt="Node.js Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/node-color.svg" alt="Node.js Logo">
  </label>
  <label for="langinput-sklearn">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/sklearn.svg" alt="SciKit-Learn Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/sklearn-color.svg" alt="SciKit-Learn Logo">
  </label>
</div>
{{!-- React & Python --}}
<div class="langdesc" data-lang="react">
  <h3>React</h3>
  <p>I learned React to familiarize myself with frameworks used by a majority of web developers. Using React with both Vite and Next.js,
    I created <a href="https://ant-atlas.awesome-e.dev" target="_blank">Ant Atlas</a> to track daily services at UCI as well as
    a <a href="/src/projects/hopkeep.hbs">Hopscotch Curation App</a> that lets me review 2700 projects per week.</p>
</div>
<div class="langdesc" data-lang="python">
  <h3>Python</h3>
  <p>I recently created a Python <a href="/src/projects/hopkeep.hbs">machine learning model</a> that accounts for 94% of variability between project metadata
    and quality using SciKit-Learn. I&rsquo;ve also used it to create backend logic using Flask in a <a href="/src/projects/webhosting-workshop.hbs">beginner-oriented
    workshop</a>.</p>
</div>

{{!-- TS/JS --}}
<div class="langdesc" data-lang="typescript">
  <h3>TypeScript</h3>
  <p>I used TypeScript while creating the frontend and backend code for my hackathon judging platform, <a href="/src/projects/hackeval.hbs">HackEval</a>.
    The frontend code controls the fluid user interface, and the backend code handles database interactions, authentication, and route management.</p>
</div>
<div class="langdesc" data-lang="js">
  <h3>JavaScript</h3>
  <p>I have the most experience with JavaScript and use it to create most of my projects. JavaScript is at the core of developing
    interactive web apps, and I learned it over the years by creating everything from <a href="/src/projects/hopscotch-tools.hbs">my first big project</a>
    to a full <a href="/src/projects/hopscotch-web-editor.hbs">web-based code editor</a>.</p>
</div>

{{!-- SCSS/Tailwind --}}
<div class="langdesc" data-lang="sass">
  <h3>SCSS/CSS</h3>
  <p>I&rsquo;ve used Sass and CSS to create styles for simple sites like my <a href="/src/projects/gamechanger-website.hbs">GameChanger
    Project Site</a> as well as more complex layouts like those found in the <a href="/src/projects/treasurehacks-organization-site.hbs">Treasure
    Hacks Organization Website</a> and the fully-featured <a href="/src/projects/hopscotch-web-editor.hbs">Web Editor for Hopscotch</a>.</p>
</div>
<div class="langdesc" data-lang="tailwind">
  <h3>Tailwind</h3>
  <p>While I prefer the traditional approach of SCSS, I picked up Tailwind CSS for apps that require fast prototyping and efficiency within a developer team.
    I used it to develop the <a href="https://seminar.treasurehacks.org/winter2024" target="_blank">Treasure Hacks Seminar Site</a> as well as a new version of
    Hopscotch&rsquo;s Web Editor (WIP).</p>
</div>

{{!-- Git/Jest --}}
<div class="langdesc" data-lang="git">
  <h3>Git</h3>
  <p>I believe Git is one of the most important skills in software development. Through my internship with Hopscotch, I used git collaboratively
    and learned commands like rebase and cherry-pick. This then led me to write <a href="/src/projects/github-curriculum.hbs">GitHub 101 &amp; 201</a>
    for those new to version control.</p>
</div>
<div class="langdesc" data-lang="jest">
  <h3>Jest</h3>
  <p>Through both formal education and internships, I&rsquo;ve accustomed myself to writing unit tests with Jest. I&rsquo;ve used it to write tests for APIs, web app
    behavior, and <a href="/src/projects/treasurehacks-discord-bot.hbs">Discord bots</a> as it ensures that code I write or review is reliable and behaves as expected.</p>
</div>

{{!-- Databases --}}
<div class="langdesc" data-lang="postgresql">
  <h3>PostgreSQL</h3>
  <p>While I was familiar with NoSQL databases, I chose to use PostgreSQL for my <a href="/src/projects/hackeval.hbs">hackathon judging platform</a>
    since it is a robust RDBMS. Due to the many relations needed for the app, I&rsquo;ve written several nested queries and migrations to return the proper data.</p>
</div>
<div class="langdesc" data-lang="mongodb">
  <h3>MongoDB</h3>
  <p>In addition to learning SQL, I&rsquo;ve experimented and used document-based databases like MongoDB. Using both replica sets and change streams
    together with websockets allowed me to mod Hopscotch and create a <a href="/src/projects/multiplayer-system.hbs">realtime multiplayer system</a>.</p>
</div>

{{!-- Other --}}
<div class="langdesc" data-lang="node">
  <h3>Node.js</h3>
  <p>I&rsquo;ve used Node.js for a variety of projects. I got started with Node.js when I wanted to build an <a href="/src/projects/hopscotch-tools-api.hbs">API
    for a collection of Hopscotch Tools</a> I made. Once familiar with routing, I moved on to writing backend apps like the
    <a href="/src/projects/treasurehacks-discord-bot.hbs">Treasure Hacks Discord Bot</a> as well as full stack apps.</p>
</div>
<div class="langdesc" data-lang="sklearn">
  <h3>SciKit-Learn</h3>
  <p>I used Sci-Kit Learn to overcome a long-standing struggle with Hopscotch: picking out high-quality projects more efficiently to feature in the community. Coupling
    a RF Regressor with a web interface, I can now feature 5.2x more projects in 7x less time.</p>
</div>
