<input type="radio" name="langinput" id="langinput-typescript" value="typescript" hidden checked>
<input type="radio" name="langinput" id="langinput-js" value="js" hidden>
<input type="radio" name="langinput" id="langinput-html" value="html" hidden>
<input type="radio" name="langinput" id="langinput-css" value="css" hidden>
<input type="radio" name="langinput" id="langinput-sass" value="sass" hidden>
<input type="radio" name="langinput" id="langinput-git" value="git" hidden>
<input type="radio" name="langinput" id="langinput-postgresql" value="postgresql" hidden>
<input type="radio" name="langinput" id="langinput-mongodb" value="mongodb" hidden>
<input type="radio" name="langinput" id="langinput-node" value="node" hidden>
<input type="radio" name="langinput" id="langinput-python" value="python" hidden>
<input type="radio" name="langinput" id="langinput-rails" value="rails" hidden>
<input type="radio" name="langinput" id="langinput-jest" value="jest" hidden>
<div class="language-grid">
  <label for="langinput-typescript">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/typescript.svg" alt="Typescript Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/typescript-color.svg" alt="Typescript Logo">
  </label>
  <label for="langinput-js">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/js.svg" alt="JS Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/js-color.svg" alt="JS Logo">
  </label>
  <label for="langinput-html">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/html.svg" alt="HTML Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/html-color.svg" alt="HTML Logo">
  </label>
  <label for="langinput-css">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/css.svg" alt="CSS Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/css-color.svg" alt="CSS Logo">
  </label>
  <label for="langinput-sass">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/sass.svg" alt="Sass Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/sass-color.svg" alt="Sass Logo">
  </label>
  <label for="langinput-git">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/git.svg" alt="Git Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/git-color.svg" alt="Git Logo">
  </label>
  <label for="langinput-postgresql">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/postgresql.svg" alt="PostgreSQL Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/postgresql-color.svg" alt="PostgreSQL Logo">
  </label>
  <label for="langinput-mongodb">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/mongodb.svg" alt="MongoDB Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/mongodb-color.svg" alt="MongoDB Logo">
  </label>
  <label for="langinput-node">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/node.svg" alt="Node.js Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/node-color.svg" alt="Node.js Logo">
  </label>
  <label for="langinput-python">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/python.svg" alt="Python Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/python-color.svg" alt="Python Logo">
  </label>
  <label for="langinput-rails">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/rails.svg" alt="Ruby on Rails Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/rails-color.svg" alt="Ruby on Rails Logo">
  </label>
  <label for="langinput-jest">
    <img class="monochrome" width="84" height="84" src="/src/images/logos/jest.svg" alt="Jest Logo">
    <img class="color" width="84" height="84" src="/src/images/logos/jest-color.svg" alt="Jest Logo">
  </label>
</div>
<div class="langdesc" data-lang="typescript">
  <h3>TypeScript</h3>
  <p>I used TypeScript while creating the frontend and backend code for my hackathon judging platform, HackEval. The frontend
    code controls the fluid user interface, and the backend code handles database interactions, authentication, and route management.</p>
</div>
<div class="langdesc" data-lang="js">
  <h3>JavaScript</h3>
  <p>I have the most experience with JavaScript and use it to create most of my projects. JavaScript is at the core of developing
    interactive web apps, and I learned it over the years by creating everything from my first big project to a full web-based code editor.</p>
</div>
<div class="langdesc" data-lang="html">
  <h3>HTML</h3>
  <p>As another building block of the web, HTML is a vital skill and makes up many sites I&rsquo;ve developed. I&rsquo;ve used HTML
    to develop several websites and frontends, including the GameChanger Project Website and the Treasure Hacks Hackathon Website.</p>
</div>
<div class="langdesc" data-lang="css">
  <h3>CSS</h3>
  <p>CSS is another introductory language to the web, and I&rsquo;ve learned many of the ins and outs of the language. I have used it to style
    many apps and websites such as the Treasure Hacks Hackathon Site and a personal Hopscotch-related website.</p>
</div>
<div class="langdesc" data-lang="sass">
  <h3>SCSS</h3>
  <p>Sass CSS (SCSS) is a more robust stylesheet language that has allowed me to construct larger stylesheets for more complex layouts
    like those found in the Treasure Hacks Organization Website and the fully-featured Web Editor for Hopscotch. </p>
</div>
<div class="langdesc" data-lang="git">
  <h3>Git</h3>
  <p>Learning git is one of the most important skills in software development. Through my internship with Hopscotch, I used git collaboratively
    and learned commands like rebase and cherry-pick. This then led me to write GitHub 101 &amp; 201 for those new to version control.</p>
</div>
<div class="langdesc" data-lang="postgresql">
  <h3>PostgreSQL</h3>
  <p>While I was familiar with NoSQL databases, I chose to use PostgreSQL for my hackathon judging platform since it is a robust RDBMS. Due to
    the many relations needed for the app, I&rsquo;ve written several nested queries and migrations to return the proper data.</p>
</div>
<div class="langdesc" data-lang="mongodb">
  <h3>MongoDB</h3>
  <p>In addition to learning SQL, I&rsquo;ve experimented and used document-based databases like MongoDB. Using both replica sets and change streams
    together with websockets allowed me to mod Hopscotch and create a realtime multiplayer system.</p>
</div>
<div class="langdesc" data-lang="node">
  <h3>Node.js</h3>
  <p>I&rsquo;ve used Node.js for a variety of projects. I got started with Node.js when I wanted to build an API for a collection of Hopscotch Tools I
    made. Once familiar with routing, I moved on to writing backend apps like the Treasure Hacks Discord Bot as well as full stack apps.</p>
</div>
<div class="langdesc" data-lang="python">
  <h3>Python</h3>
  <p>I learned Python through creating several small command-line apps, and I used it to extend the base application in a workshop I helped to prepare.
    Python was used to create backend logic like interacting with webhooks to notify users and editing items in a personal list.</p>
</div>
<div class="langdesc" data-lang="rails">
  <h3>Ruby on Rails</h3>
  <p>Through interning with Hopscotch, I was quickly able to get a hold of the language&rsquo;s syntax and behavior. Since one of their backend applications
    was written in Ruby, I learned the language so I could add features that the web editor needed to achieve full functionality.</p>
</div>
<div class="langdesc" data-lang="jest">
  <h3>Jest</h3>
  <p>Through both formal education and internships, I&rsquo;ve accustomed myself to writing unit tests with Jest. I&rsquo;ve used it to write tests for APIs, web app
    behavior, and Discord bots as it ensures that code I write or review is reliable and behaves as expected.</p>
</div>
