<input type="checkbox" id="sidenav-toggle" hidden="hidden">
<div class="topnav">
  <a href="/">
    <img src="/src/images/e-circle-gray.png" alt="Awesome_E" height="40">
    <b>Awesome_E</b>
  </a>
  <div data-screen="desktop-only" class="content-only">
    <a href="https://github.com/Awesome-E">GitHub</a>
    <a href="/experience/">Experience</a>
    <a href="/projects/">Projects</a>
  </div>
</div>
<div class="overlay">
  <label for="sidenav-toggle"></label>
</div>
<ul class="sidenav">
  <li>
    <a href="/experience/">Experience</a>
    <ul>
      <li><a href="/src/experience/hopscotch.hbs">Lead Developer at Hopscotch</a></li>
      <li><a href="/src/experience/ics-student-council.hbs">Team Lead at ICSSC</a></li>
      <li><a href="/src/experience/treasure-hacks.hbs">Cofounder at Treasure Hacks</a></li>
      <li><a href="/src/experience/gamechanger.hbs">Cofounder of GameChanger</a></li>
      <li><a href="/projects/" rel="canonical">See all...</a></li>
    </ul>
  </li>
  <li>
    <a href="/projects/">Projects</a>
    <ul>
      <li><a href="/src/projects/hackeval.hbs">HackEval</a></li>
      <li><a href="/src/projects/hopscotch-web-editor.hbs">Hopscotch Web Editor</a></li>
      <li><a href="/src/projects/treasurehacks-organization-site.hbs">Treasure Hacks Website</a></li>
      <li><a href="/src/projects/usde-college-search.hbs">USDE College Search</a></li>
      <li><a href="/projects/" rel="canonical">See all...</a></li>
    </ul>
  </li>
</ul>
<label for="sidenav-toggle" id="sidenav-toggle-btn" data-screen="mobile-only">
  <div class="line"></div>
  <div class="center"></div>
  <div class="line"></div>
</label>
