<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome_E's Projects</title>
  <meta name="color-scheme" content="dark">
  <link rel="stylesheet" href="project.scss">
  {{> site_icons }}
</head>
<body>
  {{> topnav }}
  <section class="gradient page-header">
    <div class="heading-container">
      <h1>GameChanger Project Website</h1>
      <p>A website for my high school sophomore year project to teach coding to underserved children.</p>
    </div>
    <br>
    <div class="center">
      <img src="/src/images/projects/gamechanger-website.png" alt="Screenshot of the GameChanger Project Website" width="800">
    </div>
  </section>
  <section>
    <div class="content-wrapper">
      <h1>The Project</h1>
      <p>In 2020, I started the GameChanger Project with two of my close high school friends. We aimed to bring computer science opportunities to
        underserved areas by providing the resources they needed to create their first video game. Using video games to explain concepts, we made
        it accessible for students to pick up problem solving, creative thinking, and common programming skills.</p>
      <div class="center">
        <a class="button orange-cta" data-href="/src/experience/gamechanger.hbs">About GameChanger</a>
      </div>
    </div>
    <div class="content-wrapper">
      <h1>The Website</h1>
      <p>In addition to providing information about us on our website, we highlighted the different courses that we offered and showcased games made by our students.
        These include racing, tag, and other games that we&rsquo;ve seen them create through guided in-person curriculum or self-paced online curriculum.</p>
      <div class="center">
        <img src="/src/images/projects/gamechanger-website-s1.png" alt="Gallery of projects created by students" width="640">
        <p class="caption">A page showcasing the different games our students made</p>
      </div>
    </div>
    <div class="content-wrapper">
      <h1 class="icons-container">
        How it was Built
        <div class="icons-row">
          <img src="/src/images/logos/html.svg" alt="HTML Logo" width="44">
          <img src="/src/images/logos/css.svg" alt="CSS Logo" width="44">
          <img src="/src/images/logos/js.svg" alt="JavaScript Logo" width="44">
          <img src="/src/images/logos/php.svg" alt="PHP Logo" width="44">
        </div>
      </h1>
      <p>The website was built using HTML, CSS, and JavaScript in the front end. For student projects, we also wanted pages to populate with metadata on
        the project. Since it was hosted on an Apache web server, I used PHP to fetch data from a spreadsheet and return it in the page response.</p>
      <p><i>Note: Because the project website is currently hosted on a static hosting site, student project pages do not work.</i></p>
      <div class="center">
        <a class="button orange-cta" href="https://gamechanger-project.netlify.app" target="_blank">Visit Website</a>
      </div>
    </div>
  </section>
  {{> footer }}
</body>
</html>