<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome_E's Projects</title>
  <meta name="color-scheme" content="dark">
  <link rel="stylesheet" href="project.scss">
  {{> site_icons }}
</head>
<body>
  {{> topnav }}
  <section class="gradient page-header">
    <div class="heading-container">
      <h1>Hopscotch Web Editor</h1>
      <p>A full web-based implementation of the drag-n-drop coding app called Hopscotch.</p>
    </div>
    <br>
    <div class="center">
      <img src="/src/images/projects/webeditor.png" alt="Screenshot of Hopscotch on the web" width="800">
    </div>
  </section>
  <section>
    <div class="content-wrapper">
      <h1>The Story</h1>
      <p>Hopscotch is a drag-and-drop (block-based) coding language. It debuted on the iOS App Store in 2013, and while the team has
        developed a way to play projects on the web, there was no way to look at someone&rsquo;s profile, view the newest projects in the
        community, or like a project to save it for later. That is, until I created a “proof of concept” page (using Hopscotch&rsquo;s public
        API endpoints) that let you do just that.</p>
      <p>I made an announcement to the community in November of 2019, and to my surprise, the cofounder of Hopscotch (Samantha John)
        came across my post and contacted me to see if it I was willing to help implement it in a full time internship! Since then, I
        implemented the official web “explorer” (the parts of the app that lets you browse projects, follow users, and give likes) over
        the summer of 2021 and implemented the web editor over the summer of 2022.</p>
      <div class="flex multicolumn">
        <div class="column">
          <img src="/src/images/projects/webeditor-s1.png" alt="AwesomeOnion: &quot;Wow! This is so good, I love it!!&quot;" width="450">
          <p class="caption">Samantha&rsquo;s reply to my proof of concept post</p>
        </div>
        <div class="column">
          <img src="/src/images/projects/webeditor-s2.png" alt="Spreadsheet with web editor features and completion estimates" width="450">
          <p class="caption">Feature planning and timelines for the Web Editor</p>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <h1>What I Learned</h1>
      <p>Both summer internships helped me grow immensely as a developer. Hopscotch had a small team, which allowed me work in a very
        product-focused manner. I created a product roadmap and release schedule, prioritized requested features across releases, divided
        features into tasks, and submitted code for review. Through this, I learned how to code collaboratively on GitHub and use commands
        like rebase and cherry pick. Additionally, I implemented features in a timely fashion (both the explorer and editor were launched
        in just 10 weeks) and announced them to the Hopscotch community.</p>
    </div>
    <div class="content-wrapper">
      <h1 class="icons-container">
        How it was Built
        <div class="icons-row">
          <img src="/src/images/logos/figma.svg" alt="Figma Logo" width="44">
          <img src="/src/images/logos/node.svg" alt="NodeJS Logo" width="44">
          <img src="/src/images/logos/html.svg" alt="HTML Logo" width="44">
          <img src="/src/images/logos/sass.svg" alt="Sass Logo" width="44">
          <img src="/src/images/logos/rails.svg" alt="Ruby on Rails Logo" width="44">
          <img src="/src/images/logos/jest.svg" alt="Jest Logo" width="44">
        </div>
      </h1>
      <p>The Hopscotch Web Editor involved designing new interfaces on Figma before implementing them into the web app as a whole.
        The web version of Hopscotch was built using HTML, SCSS, JavaScript, and NodeJS. I used HTML, SCSS, and JavaScript to create
        a dynamic interface for users to browse projects as well as editing projects.</p>
      <p>The backend involved communicating with and adding features to the existing backend server of Hopscotch, which was written in
        Ruby. As such, I picked up the language to add endpoints for web logins and add features to the API for added functionality in
        the web explorer. Additionally, I wrote unit tests with Jest and rspec for new code that I introduced.</p>
    </div>
    <div class="content-wrapper">
      <h1>Screenshots</h1>
      <div class="screenshot-grid-small">
        <div class="img-container">
          <img src="/src/images/projects/webeditor-s3.png" alt="Explorer interface with sign in and profile buttons" width="300">
          <p class="caption">Designs for the initial prompts to sign in or to direct a user to their profile</p>
        </div>
        <div class="img-container">
          <img src="/src/images/projects/webeditor-s4.png" alt="Editor interface design with reference to old version of Hopscotch iOS App" width="300">
          <p class="caption">Web editor designs, inspired by an older version of the iOS app</p>
        </div>
        <div class="img-container">
          <img src="/src/images/projects/webeditor-s5.png" alt="Project browser interface showing the &quot;Top Games&quot; tab" width="300">
          <p class="caption">The main “explorer” interface that lets you browse community projects</p>
        </div>
        <div class="img-container">
          <img src="/src/images/projects/webeditor-s6.png" alt="Code viewer indicating that logging in will allow you to edit projects" width="300">
          <p class="caption">The code viewer interface that you see before signing in</p>
        </div>
        <div class="img-container">
          <img src="/src/images/projects/webeditor-s7.png" alt="Code editor with blocks keyboard on the left side of screen" width="300">
          <p class="caption">The code editor that you see when editing your a project</p>
        </div>
        <div class="img-container">
          <img src="/src/images/projects/webeditor-s8.png" alt="Mobile editor with keyboard on bottom of screen, profile browser on the right" width="300">
          <p class="caption">The mobile interface for the code editor and your user profile</p>
        </div>
      </div>
      <div class="center mt-64 hug-wave">
        <a href="https://explore.gethopscotch.com" target="_blank" class="button orange-cta">See it in Action</a>
      </div>
    </div>
  </section>
  {{> footer }}
  <script>
    document.querySelectorAll('.column ol label').forEach(l => l.addEventListener('mouseenter', () => {
      l.click()
    }))
  </script>
</body>
</html>