<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome_E's Projects</title>
  <meta name="color-scheme" content="dark">
  <link rel="stylesheet" href="project.scss">
  {{> site_icons }}
</head>
<body>
  {{> topnav }}
  <section class="gradient page-header">
    <div class="heading-container">
      <h1>Hopscotch Tools</h1>
      <p></p>
    </div>
    <br>
    <div class="center">
      <img src="/src/images/projects/hopscotch-tools.png" alt="Hopscotch Tools" width="800">
    </div>
  </section>
  <section>
    <div class="content-wrapper">
      <h1>Humble Beginnings</h1>
      <p>This collection of tools started when I needed a new place to host content for my endeavors on Hopscotch. In 2019, Hopscotch had a small moderation
        team and had to change their rules for hosting external content to only allow approved sites. While this meant my existing Google Site links had to
        be taken down, it planted the seeds for something much larger: a suite of guides, videos, and utilities that would change how people use Hopscotch.</p>
      <p>Hopscotch Tools (HS Tools for short) started as just two things: a help guide for different Hopscotch blocks and an information page for a Siri Shortcut
        that I created (to make quick adjustments to projects that the native app could not do). At the time, I had never really made a full project or website
        using HTML, so coding it and putting it on GitHub was something new to me! I was so new to developing for the web that I was still using the GitHub web
        interface to manually upload files.</p>
    </div>
    <div class="content-wrapper">
      <h1 class="icons-container">
        How I Built It
        <div class="icons-row">
          <img src="/src/images/logos/html.svg" alt="HTML Logo" width="44">
          <img src="/src/images/logos/css.svg" alt="CSS Logo" width="44">
          <img src="/src/images/logos/js.svg" alt="JavaScript Logo" width="44">
        </div>
      </h1>
      <p>HS Tools was my way of diving into web development, as it was my first large project I made. I hosted it on GitHub, and it is an  HTML, CSS, and
        JavaScript frontend. I learned a lot about how each of them work as I expanded HS Tools: I picked up concepts like localStorage, the fetch API,
        window state management, and so on.</p>
      
      </div>
    </div>
    <div class="content-wrapper">
      <h1>Evolution</h1>
      <p>As I continued to grow as a developer and come up with new ideas for useful tools, I added an icon to the HS Tools homepage, which now has links to
        10 different tools! Here is a brief highlight of each one and its functionality, from oldest to newest.</p>
      <div class="screenshot-grid">
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s1.png" alt="Help Guide for a Siri Shortcut I made to modify projects" width="425">
          <p class="caption">Shortcut Help Guide: A guide with information documenting what my “JSON Siri Shortcut” could do</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s2.png" alt="Screenshot of a help guide about different Hopscotch blocks" width="425">
          <p class="caption">Hopscotch Help Guide: A help guide that includes descriptions and use cases for Hopscotch Blocks</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s3.png" alt="A list of Hopscotch-related videos and clips that I made" width="425">
          <p class="caption">Videos: A collection for videos related to Hopscotch, including projects, modding the player, and more.</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s4.png" alt="A tool to check for blocked words in a Hopscotch project" width="425">
          <p class="caption">Filter Checker: My first tool to retrieve project data from a link. It then checks that project for blocked words.</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s5.png" alt="Screenshot of my working project browser proof of concept" width="425">
          <p class="caption">Web Explorer: My proof of concept that allows you to explore community projects! Led to the <a href="/src/projects/hopscotch-web-editor.hbs">official version</a>!</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s6.png" alt="Screenshot of a page to submit project requests" width="425">
          <p class="caption">Project Requests: A page that lets you notify me to modify your project in a specified way.</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s7.png" alt="End screen with times after a speedrun is completed" width="425">
          <p class="caption">Speedruns: Using my modified player, I linked projects together to make a fun new experience!
            <a href="https://www.youtube.com/watch?v=plYn0OJphjE" target="_blank">See Trailer</a></p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s8.png" alt="Interface with draggable windows, a code editor, and other useful editor tools" width="425">
          <p class="caption">Project Builder: A hybrid (visual + text) Hopscotch code editor, project stats viewer, and code search tool.</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s9.png" alt="Screenshot of webpage with tiles that look like Siri Shortcuts" width="425">
          <p class="caption">Project Composer: Info for a modular shortcut to edit projects. Designed with the look &amp; feel of Siri Shortcuts.</p>
        </div>
        <div class="img-container">
          <img class="border" src="/src/images/projects/hopscotch-tools-s10.png" alt="Screenshot of a score distribution for a Hopscotch coding competition" width="425">
          <p class="caption">Competition Judging: A system to judge projects submitted for competitions hosted on the app!</p>
        </div>
      </div>
      <div class="center flex mt-64 hug-wave">
        <a href="https://ae-hopscotch.github.io/hs-tools/" class="button orange-cta" target="_blank">Visit Website</a>
        <a href="https://github.com/AE-Hopscotch/hs-tools" class="button orange-cta" target="_blank">Source Code</a>
      </div>
    </div>
  </section>
  {{> footer }}
  <script>
    document.querySelectorAll('.column ol label').forEach(l => l.addEventListener('mouseenter', () => {
      l.click()
    }))
  </script>
</body>
</html>