<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome_E's Projects</title>
  <meta name="color-scheme" content="dark">
  <link rel="stylesheet" href="/src/style.scss">
  {{> site_icons }}
</head>
<body>
  {{> topnav }}
  <section class="gradient page-header">
    <div class="heading-container">
      <h1>Projects</h1>
      <h2>Some of the things I&rsquo;ve built over the past 10 years</h2>
    </div>
    <br>
    <div class="project-grid">
      <a class="project-card" href="hackeval.hbs">
        <img src="/src/images/projects/hackeval.png" alt="HackEval Screenshot" width="480">
        <h3>HackEval</h3>
        <p class="description">A platform that streamlines the hackathon judging process for judges, organizers, and hackers.</p>
      </a>
      <div class="project-card">
        <img src="/src/images/projects/webeditor.png" alt="Hopscotch Web Editor Screenshot" width="480">
        <h3>Hopscotch Web Editor</h3>
        <p class="description">A full web-based implementation of the drag-n-drop coding app called Hopscotch.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/treasurehacks-org-site.png" alt="Treasure Hacks Website Screenshot" width="480">
        <h3>Treasure Hacks Website</h3>
        <p class="description">A beautiful frontend website highlighting the team, purpose, and programs of my nonprofit organization.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/flask-todos.png" alt="Flask Todo App Screenshot" width="480">
        <h3>Flask + Web Hosting Workshop</h3>
        <p class="description">A workshop where participants build and host a supercharged todo app with due date notifications.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/multiplayer-platformer.png" alt="Multiplayer Platformer Screenshot" width="480">
        <h3>Realtime Multiplayer System</h3>
        <p class="description">Leveraging replica sets, change streams, and web sockets to create a working multiplayer system.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/hs-tools.png" alt="Hopscotch Tools Screenshot" width="480">
        <h3>Hopscotch Tools</h3>
        <p class="description">In 2019, I started this collection of tools to pioneer making Hopscotch accessible on the web.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/gh101.png" alt="GitHub 101 Workshop Thumbnail" width="480">
        <h3>Introductory GitHub Workshops</h3>
        <p class="description">A workshop and guide that summarizes my experience with Git and GitHub in the workplace.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/gamechanger-website.png" alt="GameChanger Website Screenshot" width="480">
        <h3>GameChanger Project Website</h3>
        <p class="description">A website for my high school sophomore year project to teach coding to underserved children.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/treasurehacks-hackathon-site.png" alt="Treasure Hacks Hackathon Website Screenshot" width="480">
        <h3>Treasure Hacks Hackathon Site</h3>
        <p class="description">A website for all the virtual, global hackathons I&rsquo;ve hosted with my team at Treasure Hacks.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/treasurehacks-discord-bot.png" alt="Treasure Hacks Discord Bot User Profile" width="480">
        <h3>Treasure Hacks Discord Bot</h3>
        <p class="description">A general-purpose discord bot to help provide features and ease moderation for Treasure Hacks.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/usde-college-search.png" alt="USDE College Search Screenshot" width="480">
        <h3>USDE College Search</h3>
        <p class="description">A web app that uses the USDE College Scorecard API to show information on various colleges.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/slide-zipper.png" alt="Slide Zipper Logo" width="480">
        <h3>Slide Zipper</h3>
        <p class="description">A Chrome extension that lets you bulk export slides from a presentation as PNG, JPG, or SVG.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/hopscotch-website.png" alt="Personal Hopscotch Website Screenshot" width="480">
        <h3>Personal Hopscotch Website</h3>
        <p class="description">A website to showcase my Hopscotch projects and document actions for a modified project player.</p>
      </div>
      <div class="project-card">
        <img src="/src/images/projects/hs-tools-api.png" alt="Hopscotch Tools API Dashboard Screenshot" width="480">
        <h3>Hopscotch Tools API</h3>
        <p class="description">A custom API for things from checking projects for blocked words to on-the-fly project player modding.</p>
      </div>
    </div>
  </section>
  {{> footer }}
  <script type="module">
    import VanillaTilt from 'vanilla-tilt';
    const elements = document.querySelectorAll('.project-card');
    VanillaTilt.init(elements, {
      'reverse': true,
      'perspective': 4000,
      'glare': true,
      'max-glare': 0.2,
      'gyroscope': false
    })
  </script>
</body>
</html>
